@import url('https://fonts.googleapis.com/css2?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #F5EFE6;
    overflow: hidden;
    
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
}
header{
    background-color: #AEBDCA;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 2% 0px 0px;
}
.logo{
    background-color: #DADADA;
    font-size: 32px;
    padding: 20px 70px 20px 70px;
    cursor: pointer;
    font-family: 'Imperial Script', cursive;
}
.logo:hover{
    background-color: #9c9c9c;
    transition: all 0.5s ease 0s;
}
.nav_links{
    list-style: none; /* REMOVE dots */
}
.nav_links li{
    display: inline-block;
    padding: 0 10px;
}
.nav_links li a{
    color: #000;
    transition: all 0.5s ease 0s; /* TARGET all, 0.5s duration, smooth work, 0s delay */
}
.nav_links li a:hover{
    color: rgb(114, 143, 144);;
}
.friends-img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.friends-img:hover{
    background-color: rgb(114, 143, 144);
    transition: all 0.5s ease 0s;
    border-radius: 10px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: inherit;
}
.sideBar-section{
    display: inline-block;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    height: 100vh;
    overflow: hidden;
    line-height: 4;
    background-color: #7895B2;
}
.sideBar-section ul{
    list-style-type: none;
}
.side-icon{
    height: 20px;
    width: 20px;
}
.welcome-layer{
    margin:10px  582.53px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}
h1{
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #7895B2;
    font-size: 2vw;
    text-align: center;
    width: 390px;
}

.list-img{
    height: 150px;
    width: 150px;
}